@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/*  Header  */
header {
    font-family:Lexend, Arial, Helvetica, sans-serif;
    background-color: rgb(69, 132, 69);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border: 10px solid rgb(63, 100, 63);
}
/*  Navigation  */
nav a{
    text-transform: uppercase;
    color: rgb(195, 249, 196)
}

/*  Main Style of the Website  */
body {
    font-family: Lexend,Arial, Helvetica, sans-serif;
    background-color: rgb(244, 252, 244);
}

/*  Main Content */
main h2 {
    color: rgb(69, 132, 69);
}

p {
letter-spacing: normal;
white-space: normal;
line-height: 1.5;
}

/* Figure or Image Section */
figure {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    text-align: center;
}

figure img {
    max-width:100%;
    height: 300px;
    width: auto;
}

/*  Footer Section  */
footer{
    text-align: center;
    padding: 5px;
    position: relative;
    background-color: rgb(69, 132, 69);
    color: white;
}