@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/*  Header  */
header {
    font-family:Lexend, Arial, Helvetica, sans-serif;
    background-color: rgb(69, 132, 69);
    color: white;
    text-align: center;
    padding: 10px;
    border: 10px solid rgb(63, 100, 63);
}
/*  Navigation  */
nav a{
    color: rgb(195, 249, 196)
}

/*  Main Style of the Website  */
body {
    font-family: Lexend,Arial, Helvetica, sans-serif;
}

/*  Main Content */
main h2 {
    color: rgb(69, 132, 69);
}

p {
    color: rgb(0, 0, 0);
}

/* Figure or Image Section */
figure {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1em;
    text-align: center;

}

figure img {
    max-width:25%;
    height: 100;
    width: 100;
}

